.taskCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  .taskCardItem {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;

    .NO {
      flex: 0 0 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .name {
      flex: 1 1 50px;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

    }

    .difficulty {
      flex: 0 0 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .solutions {
      flex: 0 0 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }
}
