
.tasks-main-content {
    background-color: chartreuse;
    height: 100%;
    display: flex;

  grid-area: 2/2/3/3;

  .tasks-section {
    width: 100%;
    height: 100%;

    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
}