:root {
	// base
	--font-family: 'Ubuntu Sans Mono', 'Courier New', monospace;
	--content-width: 1230px;
	--container-offset: 15px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--color-white: #fff;
	--color-black: #000;
	//--color-burgundy: #531c05;
	--color-burgundy: #311818;
	--color-green: #262e26;
	//--color-green: #052e1f;
	--color-dark: #141414;
	--color-light-dark: #1f1f1f;
	--color-beige: #c09e59;
	--autumn-yellow: #ffad05;
	//--color-beige: #786f47;
}
