.button {
  padding: 4px;
  border-radius: 50%;
  border: none;
  background: var(--color-main-light-background);
  color: var(--color-beige);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;

  .sortIcon {
    width: 24px;
    height: 24px;
  }
}