.sidebar-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: auto;
  height: 100%;
  background-color: yellow;

  grid-area: 2/1/3/2;

  .main-nav {
    background-color: #a49279;
  }

  .site-nav {
    list-style: none;
    font-weight: bold;
  }

  .site-nav-item {
    a {
      text-decoration: none;
      color: #222222;
    }
  }

}




