header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #461306;
  color: #a49279;

  grid-area: 1/1/2/3;

  h1 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

@media (max-width: 767px) {
  .header {
    grid-area: 1/1/2/2;;
  }
}