.selectContainer {
  cursor: pointer;
  position: relative;
  width: 90px;
  height: 28px;

  @media (max-width: 820px) {
    order: 0;
    grid-area: 2 / 1 / 3 / 2;
  }

  .labelSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: var(--font-size-small);
    font-weight: bold;
    //border: 1px solid var(--color-beige);
    border-radius: 10px;
    background-color: var(--color-main-light-background);
    color: var(--color-beige);
    transition: all 0.2s ease-in;
    margin-left: 5px;
    padding: 4px 34px 4px 12px;

    &:hover {
      background-color: var(--color-main-super-light-background);
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 7px solid var(--color-beige);
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      border-bottom: 0;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }

    &:active, &.active {
      &:after {
        border-bottom: 7px solid var(--color-beige);
        border-top: 0;
        transform: translateY(-50%);
      }
    }
  }

  .select {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
    margin-top: 8px;
    padding: 0;
    //border: 1px solid var(--color-beige);
    border-radius: 10px;
    list-style: none;
    background-color: var(--color-main-light-background);

    .option {
      margin: 0;
      padding: 6px 12px;
      font-size: var(--font-size-base);
      //border-top: 1px solid var(--color-beige);
      border-radius: 10px;
      transition: all 0.15s ease-in;

      &:hover {
        background-color: var(--color-main-super-light-background);
      }
    }
  }

  .hidden {
    display: none;
  }
}
