.burgerButton {
  display: none;
}

@media (max-width: 767px) {
  .burgerButton {
    all: unset;
    cursor: pointer;
    display: block;
    position: fixed;
    right: 20px;
    margin-left: auto;
    z-index: 50;
    height: 40px;
    width: 40px;

    span {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      height: 2px;
      width: 100%;
      background-color: var(--color-beige);
      transform: scale(1);
      z-index: 70;

      &.active {
        background-color: transparent;
      }

      &::after, &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--color-beige);
        z-index: 70;
      }

      &::after {
        top: 12px;
        transform: scale(1);
      }

      &::before {
        top: -12px;
        transform: scale(1);
      }

      // Вращение при активном состоянии
      &.active::after {
        transform: rotate(-45deg) translateY(0);
        top: 0;
      }

      &.active::before {
        transform: rotate(45deg) translateY(0);
        top: 0;
      }
    }
  }
}