$main-background-color: #1f1f1f;

.filterContainer {
  margin-bottom: 20px;
  top: 0;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  .select {
    cursor: pointer;
    padding: 8px 12px;
    font-weight: bold;
    border: 1px solid var(--color-beige);
    border-radius: 4px;
    background-color: var(--color-main-light-background);
    color: var(--color-beige);
    transition: all 0.2s ease-in;

    &:hover {
      background-color: adjust-color($main-background-color, $lightness: 13%);
    }
  }
}