.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  background-color: var(--color-dark);
  grid-area: 2/2/3/3;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding: 40px;
    background-color: var(--color-main-background);
    border: 1px solid rgba(192, 158, 89, 0.05);
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05),
    0 4px 16px rgba(0, 0, 0, 0.6);

    .inputContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      max-width: 400px;
      min-width: 300px;
      height: 250px;
      padding: 20px;
      background-color: var(--color-main-background);
    }

  }

  .title {
    text-align: center;
    font-size: var(--font-size-h2);
  }
}

@media (max-width: 767px) {
  .main {
    grid-area: 2/1/3/2;
    .form {
      padding: 20px;
    }
  }
}
