.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: var(--font-size-h2);
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &.errorBorder {
    border-color: #ff4d4d;
    background-color: #330000;
    color: white;
  }
}

.button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: #ff4d4d;
  font-size: var(--font-size-small);
  margin-top: 4px;
}